In [1]:
import pandas as pd

In [18]:
sample_submission = pd.read_csv('sample_submission.csv')
mix = pd.read_csv('82.csv')
ens = pd.read_csv('82 (2).csv')
sample_submission['target'] = mix['target']*0.5 + ens['target']*0.5
q = sample_submission['target'].quantile(0.002)
#sample_submission['target'] = sample_submission['target'].apply(lambda x: x if x > q else x*1.1)
sample_submission.loc[sample_submission.target < -19.93, 'target'] = -33.218750
sample_submission.to_csv('mix.csv', index=False)

In [10]:
q

-11.951440390665939

In [11]:
((sample_submission.target <= -19) & (sample_submission.target > -35)).sum()

27

In [16]:
sample_submission.loc[sample_submission.target < -19.93]

                card_id     target
5008    C_ID_be92f84f5c -23.174822
17720   C_ID_938dec7a1a -20.920098
20556   C_ID_aae50409e7 -24.291540
25568   C_ID_767923bdb9 -20.830874
26864   C_ID_e7c702e96f -21.196780
27436   C_ID_493de71141 -21.962262
32446   C_ID_ac114ef831 -24.030922
35851   C_ID_5ee52cf9f6 -21.587200
37421   C_ID_366bf4ea4d -22.974958
43763   C_ID_74dd007aec -20.509328
48945   C_ID_afbfc01b49 -23.145321
67890   C_ID_cde027fde7 -24.716607
78078   C_ID_922f9c5ea6 -21.738263
80840   C_ID_bced41d837 -22.427660
85003   C_ID_00bf566320 -19.932150
87901   C_ID_a4ca7a3f5d -20.191430
103851  C_ID_877b879853 -20.258767
104274  C_ID_bf939aa4e9 -22.318933
104991  C_ID_86ddafb51c -21.864346
116572  C_ID_f503a136f1 -23.810146

In [35]:
sample_submission.head()

           card_id    target
0  C_ID_0ab67a22ab -3.053443
1  C_ID_130fd0cbdd -0.238888
2  C_ID_b709037bc5 -0.970487
3  C_ID_d27d835a9f -0.095072
4  C_ID_2b5e3df5c2 -1.320355